{% extends "recipes/base.html" %}
{% block title %}Сайт с рецептами{% endblock %}
{% load static %}

{% block content %}


<section class="al mt-3">
    <div class="container justify-content-center">

        <div id="carousel" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-inner">
                {% for key,value in recipes_carussel.items %}
                {% for recipe in value %}
                {% if key == 'set0' %}
                <div class="carousel-item active" data-bs-interval="2000">
                    {% else %}
                    <div class="carousel-item" data-bs-interval="2000">
                        {% endif %}
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <img src="{{ recipe.picture.url }}"
                                         class="d-block " height="415px">
                                </div>
                                <div class="col">
                                    <h2>{{ recipe.title }}</h2>
                                    <p class="card-text">{{ recipe.description }}</p>
                                    <a href="{% url 'recipes:recipe_full' recipe_id=recipe.pk %}"
                                       class="btn btn-primary active me-4 "
                                       role="button"
                                       aria-pressed="true"> Смотреть </a>


                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>

            </div>

        </div>
        </div>
</section>

{% endblock %}