{% extends "recipes/base.html" %}
{% block title %}Подробности рецепта{% endblock %}


{% block content %}
<section class="al mt-3">

    <div class="container justify-content-center">
        {% if message %}
         <div class="alert alert-warning alert-dismissible fade show" role="alert" tabindex="-1">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <div container>
            <hr class="hr hr-blurry"/>
            <div class="row">
                <div class="col">
                    <p>Время приготовления: {{ recipe.cooking_time }} мин.</p>
                </div>
                <div class="col">

                </div>
                <div class="col">
                    <p>Просмотров: {{ recipe.views }}</p>
                </div>
                <div class="col">
                    <p>Обновлено: {{ recipe.date_of_update }}</p>
                </div>
                <div class="row">
                    <hr class="hr hr-blurry"/>
                    <div class="col">
                        <p>Категории:</p>
                    </div>
                    <div class="col">

                        {% for category in category %}
                        <a href="{% url 'recipes:search_by_category' cat=category %}"
                           class="btn btn-info btn-sm  active me-4 " role="button" aria-pressed="true"> {{ category }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <hr class="hr hr-blurry"/>
                    <div class="col">
                        <p>Игридиенты:</p>
                    </div>
                    <div class="col">
                        {% for ingredient in ingredients %}
                        <a href="{% url 'recipes:search_by_ingredient' ingredient=ingredient %}"
                           class="btn btn-outline btn-sm  active me-1 " role="button" aria-pressed="true"> {{ ingredient }}</a>
                        {% endfor %}
                    </div>
                </div>
                <hr class="hr hr-blurry"/>
            </div>
            <div class="row">
                <div class="col">
                    {% if recipe.picture %}
                    <img src="{{ recipe.picture.url }}"
                         class="d-block " height="415px">
                    {% else %}
                    <p>no image</p>
                    {% endif %}

                </div>
                <div class="col">
                    <h3>{{ recipe.title }}</h3>
                    <p>{{ recipe.description }}</p>
                    <p>{{ recipe.cooking_steps }}</p>
                    {% if user.is_authenticated %}
                    {% if recipe.author.pk == request.user.pk %}
                    <a href="{% url 'recipes:update_recipe' recipe_id=recipe.pk %}"
                       class="btn btn-secondary  active me-4 " role="button" aria-pressed="true"> Редактировать</a>
                    <a href="{% url 'recipes:delete_recipe' recipe_id=recipe.pk %}"
                       class="btn btn-secondary  active me-4 " role="button" aria-pressed="true"> Удалить</a>
                    {% endif %}
                    {% endif %}
                </div>

            </div>

        </div>
    </div>
</section>
{% endblock %}




